
.resume,
.footer,
.portfolio {
    background: var(--resume-bg);
}

.summary .summary-content {
    position: relative;
    border-left: 2px solid var(--accent-color);
}

.summary .summary-content::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: var(--background-color);
    border: 2px solid var(--accent-color);
}
.summary .summary-content .year{
    color: var(--heading-color);
    font-weight: 700;
}
.summary h4.play-fair{
    color: var(--heading-color);
}
